USE [TTMusteriTemsilciDB]
GO
/****** Object:  Table [dbo].[CustomerRepresentativeTable]    Script Date: 28.09.2025 22:31:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerRepresentativeTable](
	[Id] [int] IDENTITY(1000,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[TCKN] [bigint] NULL,
	[PhoneNumber] [nvarchar](13) NOT NULL,
	[Email] [nvarchar](70) NOT NULL,
	[Password] [nvarchar](max) NULL,
	[MembershipDate] [datetime2](7) NULL,
	[MembershipEndDate] [datetime2](7) NULL,
 CONSTRAINT [PK_CustomerRepresentativeTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubscriberTable]    Script Date: 28.09.2025 22:31:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubscriberTable](
	[Id] [int] IDENTITY(1000,1) NOT NULL,
	[CustomerRepresentativeID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[TCKN] [bigint] NULL,
	[PhoneNumber] [nvarchar](14) NOT NULL,
	[Email] [nvarchar](70) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[District] [nvarchar](50) NOT NULL,
	[AddedDate] [datetime] NOT NULL,
	[ProcessFinished] [bit] NOT NULL,
 CONSTRAINT [PK_SubscriberTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TTPanelTable]    Script Date: 28.09.2025 22:31:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TTPanelTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Surname] [nvarchar](50) NULL,
	[Email] [nvarchar](70) NULL,
	[Password] [nvarchar](max) NULL,
 CONSTRAINT [PK_TTPanelTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CustomerRepresentativeTable] ON 

INSERT [dbo].[CustomerRepresentativeTable] ([Id], [Name], [Surname], [TCKN], [PhoneNumber], [Email], [Password], [MembershipDate], [MembershipEndDate]) VALUES (1010, N'yagiz', N'akyuz', 12345678911, N'5323968011', N'a@gmail.com', N'$DNEFSA$V1$10000$jvdtCFwiReDkFvmx4jFFI41eIDa5+fBCNURx6O1hf8CD1wjl', CAST(N'2025-09-28T20:12:49.6179852' AS DateTime2), NULL)
INSERT [dbo].[CustomerRepresentativeTable] ([Id], [Name], [Surname], [TCKN], [PhoneNumber], [Email], [Password], [MembershipDate], [MembershipEndDate]) VALUES (1011, N'huseyin', N'cimsir', 1234567893, N'5323968061', N'd@gmail.com', N'$DNEFSA$V1$10000$OSyrQGc2R6JC/uRdCuqz6HNJIFc0tO5urnAOkVNInFhVpGzG', CAST(N'2025-09-28T21:07:56.0929438' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[CustomerRepresentativeTable] OFF
GO
SET IDENTITY_INSERT [dbo].[SubscriberTable] ON 

INSERT [dbo].[SubscriberTable] ([Id], [CustomerRepresentativeID], [Name], [Surname], [TCKN], [PhoneNumber], [Email], [Address], [City], [District], [AddedDate], [ProcessFinished]) VALUES (1000, 1010, N'fatih', N'tekke', 12345678997, N'5323126578', N'a@gmail.com', N'irmak mah. 35/4 sok.', N'Eskisehir', N'Odunpazarı', CAST(N'2025-09-28T20:58:44.663' AS DateTime), 0)
INSERT [dbo].[SubscriberTable] ([Id], [CustomerRepresentativeID], [Name], [Surname], [TCKN], [PhoneNumber], [Email], [Address], [City], [District], [AddedDate], [ProcessFinished]) VALUES (1001, 1010, N'şenol', N'güneş', 12345678995, N'5323126561', N'sg@gmail.com', N'irmak mah. 61/1 sok.', N'Trabzon', N'Ortahisar', CAST(N'2025-09-28T21:02:31.473' AS DateTime), 0)
INSERT [dbo].[SubscriberTable] ([Id], [CustomerRepresentativeID], [Name], [Surname], [TCKN], [PhoneNumber], [Email], [Address], [City], [District], [AddedDate], [ProcessFinished]) VALUES (1002, 1011, N'sait', N'kara', 12345676195, N'5323161561', N'sk@gmail.com', N'irmak mah. 61/1 sok.', N'Trabzon', N'Ortahisar', CAST(N'2025-09-28T21:08:57.343' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[SubscriberTable] OFF
GO
SET IDENTITY_INSERT [dbo].[TTPanelTable] ON 

INSERT [dbo].[TTPanelTable] ([Id], [Name], [Surname], [Email], [Password]) VALUES (1, N'ahmet', N'mehmet', N's@gmail.com', N'$DNEFSA$V1$10000$Plp3nuPRlQRjeTeqO2rw8C7kOEGJ8zOdgOV9myXGj/JUeLL4')
SET IDENTITY_INSERT [dbo].[TTPanelTable] OFF
GO
